<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="/assets/css/style.css?v=c676c081391252da59f7102dba4bcbf932f6f8a1">
    <script data-ally-loader data-ally-platform="web" data-ally-client-id="123" src="https://performance.ally.ac"></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title }}</h1>
      <a href="https://github.com/fronteerio/a4w-sandbox" class="btn">View on GitHub</a>
    </section>
    <section class="main-content">
      {{ content }}
    </section>
  </body>
</html>
