<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{{ page.title | default: site.title | default: site.github.repository_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-url/2.5.3/url.js"></script>
    <script src="https://{{ page.hostname }}/integration/api/ally.ui.js" type="text/javascript" data-ally-loader></script>
    <script src="/a4w-sandbox/assets/js/jsrassign-all-min.js" type="text/javascript" ></script>
    <script src="/a4w-sandbox/assets/js/aaas.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/a4w-sandbox/assets/css/aaas.css">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </header>

    <main id="content" class="main-content" role="main">

        <form action="#">
            <div class="row">
              <label>
                <span>Client ID:</span>
                <input type="text" id="clientId" value="{{ page.clientId }}" />
              </label>
            </div>

            <div class="row">
              <label>
                <span>Application secret:</span>
                <input type="text" id="applicationSecret" />
              </label>
            </div>

            <div class="row">
              <label>
                <span>Content hash:</span>
                <input type="text" id="contentHash" />
              </label>
            </div>

            <div class="row">
              <label>
                <span>Download URL:</span>
                <input type="text" id="downloadUrl" />
              </label>
            </div>

            <div class="row">
              <label>
                <span></span>
                <button type="submit" id="btnTest">Test</button>
              </label>
            </div>
          </form>
          <div id="test-container" data-ally-content-ref="0" data-ally-show="alternativeformats">
              <a
                  href="#"
                  id="source"
                  data-ally-content-id="0"
                  data-ally-aaas-content-hash="QWxseSstK09uZStQYWdlcistK0hpZ2hlcitFZCstK0dlbmVyYWwucGRmOjM0QURFNDE2NzNDRUJBNUIyRjc2MDI3N0IxOEYwNTdERDY1MDczQzg6YXBwbGljYXRpb24vcGRm"
                  data-ally-download-url="https://ally-public.s3-us-west-2.amazonaws.com/demo/High+Quality+Alternative+Formats/Ally+-+One+Pager+-+Higher+Ed+-+General.pdf"
              >Original file</a>
              <a
                  id="trigger" href="#"  title="Alternative formats"
                  style="display: none"
                  data-ally-content-ref="0"
                  data-ally-invoke="alternativeformats"
                  data-ally-show="alternativeformats"
                  data-ally-show-display="inline"
                  data-ally-tooltip>
                  <img src="/a4w-sandbox/assets/img/ally-a-dark.svg" alt="Alternative Formats" width="25" height="20" />
              </a>
          </div>

      <footer class="site-footer">
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
